body {
    background-color: #982c2c;
    overflow: scroll;
    overflow-x: hidden;
    height: 101vh;
}

#navigation {
  display: block;
  height: 500px;
  background-color: #E6DECD;
  background-size: 100% 100%;
  color: #982c2c;
  font-family: "Berkshire Swash", cursive;
  font-size: 100px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

#search {
    position: sticky;
    top: 2px;
    background-color: #E6DECD;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input {
  height: 5vh;
  width: 70%;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

#scroll {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #E6DECD;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#characters {
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.picture {
  width: 20vh;
  height: 20vh;
}
